/* colors */
:root {
    --dark-grey: #333;
    --gradient: linear-gradient(90deg, #BEFFE8 0%, #80E0FF 100%);
    --blue: #456DBB;
    --white: #FFF;
    --light-blue-gradient: linear-gradient(180deg, #D7E4FF 0%, rgba(255, 255, 255, 0.00) 100%);
    --light-grey: #D0D0D0;
    --grey: #686868;
}

/* header start */
.header {
    background: url(../images/icons/right-bg-h.svg) #fff;
    background: url(../images/icons/left-bg-h.svg) #fff;
    background-repeat: no-repeat;
    background-position: 43px 0;
    background-size: 95% 100%;
    padding: 24px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    box-shadow: 0px 7px 50px 5px #D7E4FF;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 700;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin-left: 32px;
    color: var(--dark-grey);
    font-size: 16px;
    line-height: 140%;
}

.btn {
    border-radius: 5px;
    background: var(--gradient);
    border: none;
    box-shadow: 0px 4px 10px 0px #CEE0FF;
    padding: 12px 18px;
}

.navbar .btn:hover {
    background: linear-gradient(90deg, #80E0FF 0%, #BEFFE8);
}

/* main start */
.news {
    margin-bottom: 64px;
}

.news .first-content {
    margin-top: 156px;
    margin-bottom: 36px;
}

.news-title {
    color: #456DBB;
}

.news .first-content select {
    border: none;
    outline: none;
    margin-right: 24px;
}

.news .news-title-s {
    color: var(--blue);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 32px;
    margin-top: 32px;
}

.date {
    margin-top: 10px;
}

.news .news-card {
    margin-bottom: 32px;
    padding-right: 30px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.mt-6 {
    margin-top: 2rem;
}

.mt-6 {
    margin-bottom: 2rem;
}

.btn-two {
    width: 170px;
}

.news .container .span {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

/* footer start */
.footer {
    background: var(--white);
    box-shadow: 0px 7px 50px 5px #D7E4FF;
    padding-bottom: 64px;
    padding-top: 64px;
}

.footer .footer-top {
    margin-top: 64px;
    margin-bottom: 64px;
}

/* second.hmtl css */
.header .header-links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.main-two {
    margin-top: 180px;
    margin-bottom: 152px;
}

.big-text {
    width: 469px;
}

.main-two .img-6 {
    background: url(../images/rectanglr.png);
    background-repeat: no-repeat;
}

.image {
    margin-left: 182px;
}

.main-two .card .lock {
    margin-left: 70px;
}

.main-two .card .dress-img {
    margin: 0 auto;
}

.main-two .card {
    width: 100px;
    height: 120px;
    border: none;
    border-radius: 5px;
    background-color: #E4F0FF;
}

.main-two .cards {
    width: 208px;
}

.modal-dialog .btn-close {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 16px;
    right: 16px;
}

.modal-dialog {
    width: 356px;
    height: 173px;
}

.modal-footer button {
    margin-right: 60px;
}

.main-two .cards .para {
    width: 100px;
    border-radius: 5px;
    margin-top: 4px;
    background-color: #E4F0FF;
    padding-bottom: 3px;
}

/* authors html */
.header-title {
    margin-bottom: 2rem;
    margin-left: 134px;
}

.main-three {
    margin-top: 150px;
    margin-bottom: 63px;
}

.postcards {
    margin-right: 248px;
}

.postcard {
    background-color: #EBF2FF;
    width: 504px;
    height: 136px;
    padding: 24px;
    margin-bottom: 8px;
}

.postcard-title h5 {
    color: var(--dark-grey);
    font-size: 16px;
    font-weight: 700;
}

.postcard-head {
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}

.postcard-content {
    align-items: center;
    gap: 19px;
}

.postcard-content .postcard-analytics span {
    margin-bottom: 7px;
    margin-left: 30px;
    color: var(--dark-grey);
    font-size: 16px;
    font-weight: 700;
}

.postcard-content .postcard-analytics p {
    color: var(--dark-grey);
    font-size: 16px;
    font-weight: 400;
}

.postcards .postcards-end_link {
    border-bottom: 1px dashed;
}

.formy {
    position: relative;
    padding: 24px;
    background-color: #EBF2FF;
    height: 256px;
    width: 418px;
}

.formy .form-title {
    margin-bottom: 24px;
}

.formy p {
    margin-top: 24px;
    margin-bottom: 16px;
}

.formy .search {
    width: 370px;
    height: 49px;
    padding: 16px;
    padding-left: 48px;
    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    outline: none;
    position: relative;
}

.formy .search-icon {
    position: absolute;
    left: 40px;
    top: 83px;
}

.dropdown {
    display: inline-block;
}

.dropbtn {
    background-color: #FFF;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #000;
    cursor: pointer;
    display: flex;
    width: 370px;
    height: 49px;
    padding: 16px;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.formy .select-icon {
    position: absolute;
    top: 12px;
    right: 12px;
}

/* media query start */
@media screen and (min-width: 1440px) {

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        max-width: 1170px;
        padding-left: 0;
        padding-right: 0;
    }
}


/* ========modal========== */
.modal .modal-header {
    border-bottom: none;
}

.modal-btn-close {
    padding: 0;
    margin: 0;
    transition: all 1s ease-out;
}

.modal-btn-close:hover {
    transform: rotate(360deg);
}

.authModal_dialog {
    width: 434px;
}

.modal-content {
    padding: 32px;
    box-shadow: 0px 4px 10px 0px #CEE0FF;
    border: none;
}

.modal .modal-titles {
    color: var(--blue);
    font-size: 20px;
    font-weight: 700;
    margin-left: 112px;
}

.modal-btn-close {
    padding: 0;
    margin: 0;
}

.modal .modal-body .butn {
    /* padding: 12px 18px; */
    width: 340px;
    height: 49px;
    /* margin-left: 32px; */
    /* margin-bottom: 32px; */
    margin-top: 32px;
}

.modal .modal-body .btn-link {
    color: var(--blue);
    font-size: 16px;
    /* line-height: 140%; */
    margin-left: 100px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.modal .modal-body .forgotpc {
    color: var(--dark-grey);
    margin-left: 100px;
    font-size: 16px;
}

/* register-modal */
.register-dialog {
    border-radius: 5px;
    padding: 32px;
    margin: 0 auto;
}

.register {
    width: 900px;
}

.modal-content-s {
    width: 900px;
}

.modal-content-s input {
    width: 370px;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    margin-right: 30px;
    margin-bottom: 24px;
}

.modal-content-s .end-content {
    margin-top: 36px;
    text-align: center;
    margin-left: 0;
}

.modal-content-s p {
    margin-bottom: 16px;
}

.submit-input {
    border-radius: 5px;
    background: var(--gradient);
    box-shadow: 0px 4px 10px 0px #CEE0FF;
    padding: 12px 18px;
    margin-left: 270px;
    margin-top: 32px;
}

.register-dialog .modal-titles {
    margin-left: 350px;
}

/* forgot modal */
.forgot-dialog {
    width: 434px;
}

.forgot-content {
    width: 434px;
    padding: 32px;
    border-radius: 5px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 15px 0px #CEE0FF;
    text-align: center;
}

.forgot-modal-body .forgot-contact p {
    color: var(--dark-grey);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 16px;
}

.forgot-modal-body .forgot-contact input {
    width: 370px;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid var(--light-grey, #D0D0D0);
    margin-right: 32px;
}

.forgot-dialog .modal-footer .forgot-btn {
    margin-left: 10px;
    margin-bottom: 32px;
}

.forgot-dialog .modal-footer .btn-link {
    margin-right: 43px;
}

.modal-footer button {
    margin-right: 20px;
}

/* forgot-modal-two */
.modal-content-two {
    width: 430px;
    height: 407px;
    padding: 32px;
}

.modal-titles_s {
    color: #456DBB;
    text-align: center;
}

.forgot-numbers {
    text-align: center;
}

.forgot-numbers input {
    width: 48px;
    height: 64px;
    padding: 8px;
    margin-right: 8px;
    margin-top: 16px;
}

.forgot-footer .btn-got {
    margin-left: 50px;
} 


.forgots-footer .btn {
    margin-left: 50px;
}

/*second.html's modal*/
.modal-footer {
    border-top: none;
}

.md-one .modal-footer a {
    margin-right: 40px;
}

.md-two .modal-header .modal-title {
    margin-left: 40px;
}

.btn-close {
    transition: all 0.3s ease;
}

.btn-close:hover {
    transform: rotate(150deg);
}