/* colors */
:root {
    --dark-grey: #333;
    --gradient: linear-gradient(90deg, #BEFFE8 0%, #80E0FF 100%);
    --blue: #456DBB;
    --white: #FFF;
    --light-blue-gradient: linear-gradient(180deg, #D7E4FF 0%, rgba(255, 255, 255, 0.00) 100%);
    --light-grey: #D0D0D0;
}

/* header start */
.header {
    background: url(../images/icons/header-bg.svg) #fff;
    background-repeat: no-repeat;
    background-position: 43px 0;
    background-size: 95% 100%;
    padding: 24px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    box-shadow: 0px 7px 50px 5px #D7E4FF;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 700;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin-left: 32px;
    color: var(--dark-grey);
    font-size: 16px;
    line-height: 140%;
}

.btn {
    border-radius: 5px;
    background: var(--gradient);
    border: none;
    box-shadow: 0px 4px 10px 0px #CEE0FF;
    padding: 12px 18px;
}

.navbar .btn:hover {
    background: linear-gradient(90deg, #80E0FF 0%, #BEFFE8);
}

/* main start */
.news {
    margin-bottom: 64px;
}

.news .first-content {
    margin-top: 156px;
    margin-bottom: 36px;
}

.news .first-content select {
    border: none;
    outline: none;
    margin-right: 24px;
}

.news .news-title-s {
    color: var(--blue);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 32px;
    margin-top: 32px;
}

.date {
    margin-top: 10px;
}

.news .news-card {
    margin-bottom: 32px;
    padding-right: 30px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.mt-6 {
    margin-top: 2rem;
}

.mt-6 {
    margin-bottom: 2rem;
}

.btn-two {
    width: 170px;
}

.news .container .span {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

/* footer start */
.footer {
    background: var(--white);
    /* position: fixed;
    width: 100%;
    bottom: 0; */
    border: 1px solid #fff;
    box-shadow: 7px 5px 50px 50px var(--light-blue-gradient);
}

.footer .footer-top {
    margin-top: 64px;
    margin-bottom: 64px;
}

/* news-2.hmtl css */
.main-two {
    margin-top: 180px;
    margin-bottom: 152px;
}

.big-text {
    width: 469px;
}

.main-two .img-6 {
    background: url(../images/rectanglr.png);
    background-repeat: no-repeat;
}

.image {
    margin-left: 182px;
}

.main-two .card .lock {
    margin-left: 70px;
}

.main-two .card .dress-img {
    margin: 0 auto;
}

.main-two .card {
    width: 100px;
    height: 120px;
    border: 1px solid #D0D0D0;
}

.main-two .cards {
    width: 208px;
}

.modal-dialog .btn-close {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 16px;
    right: 16px;
}

.modal-dialog {
    width: 356px;
    height: 173px;
}

.modal-footer button {
    margin-right: 60px;
}

.main-two .cards .para {
    width: 100px;
    border: 1px solid #D0D0D0;
    margin-top: 4px;
}



/* media query start */
@media screen and (min-width: 1440px) {

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        max-width: 1170px;
        padding-left: 0;
        padding-right: 0;
    }
}


/* ========modal========== */
.modal .modal-header {
    border-bottom: none;
}

.modal-btn-close {
    padding: 0;
    margin: 0;
    transition: all 1s ease-out;
}

.modal-btn-close:hover {
    transform: rotate(360deg);
}

.authModal_dialog {
    width: 434px;
}

.modal-content {
    padding: 32px;
    box-shadow: 0px 4px 10px 0px #CEE0FF;
    border: none;
}

.modal .modal-titles {
    color: var(--blue);
    font-size: 20px;
    font-weight: 700;
    margin-left: 112px;
}

.modal-btn-close {
    padding: 0;
    margin: 0;
}

.modal .modal-body .butn {
    /* padding: 12px 18px; */
    width: 340px;
    height: 49px;
    /* margin-left: 32px; */
    /* margin-bottom: 32px; */
    margin-top: 32px;
}

.modal .modal-body .btn-link {
    color: var(--blue);
    font-size: 16px;
    /* line-height: 140%; */
    margin-left: 100px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.modal .modal-body .forgotpc {
    color: var(--dark-grey);
    margin-left: 100px;
    font-size: 16px;
}

/* register-modal */

.register-dialog {
    border-radius: 5px;
    padding: 35px;
}

.modal-content-s {
    width: 830px;
    height: 553px;
}

.modal-content-s input {
    width: 370px;
    border-radius: 5px;
    border: 1px solid var(--light-grey, #D0D0D0);
    margin-right: 30px;
}

.submit-input {
    border-radius: 5px;
    background: var(--gradient);
    box-shadow: 0px 4px 10px 0px #CEE0FF;
}